#######################################
#
# Election SMS - application.properties
#
#######################################

# MAGTI Webservice url end point
magti.webservice.endpoint=

# MAGTI Webservice parameters
magti.username=
magti.password=
magti.clientid=
magti.serviceid=

# My Parliament - Database properties
db.driver=
db.url=
db.username=
db.password=

# My Parliament - Hibernate configuration
hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql=true
connection.pool_size=1
entitymanager.packages.to.scan=com.tigeorgia

# Google account configuration, to read the draft law Google spreadsheet
google.username=
google.password=
google.spreadsheet.url=
google.spreadsheet.title=

# Path to sshToShenmartavForDraftlaws.sh
path.to.shenmartavscript=/path/to/script

# Key to decrypt the list of recipients coming from MyParliament SMS registration database, and users endpoint URL.
decryption.key=
sms_registration_endpoint=
smsserver_ipaddress=
smsserver_username=
smsserver_password=