<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/security 
                    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/login" access="permitAll"/>
		<intercept-url pattern="/error" access="permitAll"/>
		<intercept-url pattern="/resources/**" access="permitAll"/>
		<intercept-url pattern="/**" access="isAuthenticated()" />

		<form-login login-page="/login"
			default-target-url="/"
			authentication-failure-url="/error" />
		<logout logout-success-url="/"/>	
	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="sha-256" />
			<user-service>
				<user name="tigeorgia" password="4eaf78eb30f85a904e315c35945788f9c00648e3ece3333c64097b7dbd24cdd9" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>